#Example config file for running VaSeBuilder in X-mode
RUNMODE=X
DONORVCF=/testdata/donordata/vcffile_list.txt
DONORBAM=/testdata/donordata/bamfile_list.txt
ACCEPTORBAM=/testdata/acceptor/acceptor.bam
REFERENCE=/testdata/reference/genome_ref.fa
OUT=/testdata/outdir
LOG=/testdata/outdir/vb.log
